<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzzz.dao.BranchDao">
  <sql id="all_columns">
    branch_id, enterprise_id, name, address, latitude, longitude, telephone
  </sql>
  <insert id="insert" parameterType="Branch">
    insert into branch(enterprise_id, name, address, latitude, longitude, telephone)
    values(#{enterpriseId}, #{name}, #{address}, #{latitude}, #{longitude}, #{telephone})
  </insert>
  <select id="checkExistenceById" parameterType="long" resultType="boolean">
    select count(*)
    from branch
    where branch_id=#{branchId}
  </select>
  <select id="getById" parameterType="long" resultType="Branch">
    select <include refid="all_columns" />
    from branch
    where branch_id=#{branchId}
  </select>
  <select id="getDtoById" parameterType="long" resultType="com.zzzz.dto.BranchDetail">
    select br.branch_id, br.name, br.address, br.latitude, br.longitude, br.telephone,
      lec.lecturer_id 'lecturers.lecturer_id', lec.name 'lecturers.name',
      lec.photo_url 'lecturers.photo_url', lec.introduction 'lecturers.introduction'
    from branch br join lecturer lec on br.branch_id = lec.branch_id
    where branch_id=#{branchId}
  </select>
  <update id="update" parameterType="Branch">
    update branch set
      name=#{name},
      address=#{address},
      latitude=#{latitude},
      longitude=#{longitude},
      telephone=#{telephone}
  </update>
</mapper>