<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzzz.dao.EnterpriseDao">
  <insert id="insert" parameterType="Enterprise">
    insert into enterprise(name, img_url, introduction, video_url, detail)
    values(#{name}, #{imgUrl}, #{introduction}, #{videoUrl}, #{detail})
  </insert>
  <select id="checkExistenceById" parameterType="long">
    select count(*)
    from enterprise
    where enterprise_id=#{enterpriseId}
  </select>
  <select id="getById" parameterType="long" resultType="Enterprise">
    select enterprise_id, name, img_url, introduction, video_url, detail
    from enterprise
    where enterprise_id=#{enterpriseId}
  </select>
  <select id="getDtoById" parameterType="long" resultType="com.zzzz.dto.Enterprise">
    select
      ent.enterprise_id, ent.name, ent.img_url, ent.introduction, ent.video_url, ent.detail,
      br.branch_id 'branches.branch_id', br.name 'branches.name',
      br.address 'branches.address', br.latitude 'branches.latitude',
      br.longitude 'branches.longitude', br.telephone 'branches.telephone'
    from enterprise ent join branch br on ent.enterprise_id = br.enterprise_id
  </select>
  <update id="update" parameterType="Enterprise">
    update enterprise set
      name=#{name},
      img_url=#{imgUrl},
      introduction=#{introduction},
      video_url=#{videoUrl},
      detail=#{detail}
  </update>
</mapper>