<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzzz.dao.LecturerDao">
  <sql id="all_columns">
    lecturer_id, enterprise_id, name, photo_url, introduction, is_disabled
  </sql>
  <insert id="insert" parameterType="Lecturer">
    insert into lecturer(enterprise_id, name, photo_url, introduction)
    values(#{enterpriseId}, #{name}, #{photoUrl}, #{introduction})
  </insert>
  <select id="checkExistenceById" parameterType="long" resultType="boolean">
    select count(*)
    from view_available_lecturer
    where lecturer_id=#{lecturerId}
  </select>
  <select id="getById" parameterType="long" resultType="Lecturer">
    select <include refid="all_columns" />
    from view_available_lecturer
    where lecturer_id=#{lecturerId}
  </select>
  <update id="update" parameterType="Lecturer">
    update lecturer set
      name=#{name},
      photo_url=#{photoUrl},
      introduction=#{introduction}
    where lecturer_id=#{lecturerId}
  </update>
</mapper>