<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzzz.dao.TrialDao">
  <sql id="all_columns">
    trial_id, name, detail, img_url, category_id, branch_id, lecturer_id, release_time, status
  </sql>
  <insert id="insert" parameterType="Trial">
    insert into trial(name, detail, img_url, category_id, branch_id, lecturer_id, release_time, status)
    values(#{name}, #{detail}, #{imgUrl}, #{categoryId}, #{branchId}, #{lecturerId}, #{releaseTime}, #{status})
  </insert>
  <select id="checkExistenceById" parameterType="long" resultType="boolean">
    select count(*)
    from trial
    where trial_id=#{trialId}
  </select>
  <select id="getById" parameterType="long" resultType="Trial">
    select <include refid="all_columns" />
    from trial
    where trial_id=#{trialId}
  </select>
  <select id="getVoById" parameterType="long" resultType="com.zzzz.vo.TrialDetail">
    select trial_id, name, detail, img_url,
      category_id, category_name,
      enterprise_id, enterprise_name,
      branch_id, branch_name,
      lecturer_id, lecturer_name,
      release_time, status
    from view_trial_detail
    where trial_id=#{trialId}
  </select>
  <update id="update" parameterType="Trial">
    update trial set
      name=#{name},
      detail=#{detail},
      img_url=#{imgUrl},
      category_id=#{categoryId},
      branch_id=#{branchId},
      lecturer_id=#{lecturerId},
      release_time=#{releaseTime},
      status=#{status}
    where trial_id=#{trialId}
  </update>
  <delete id="delete" parameterType="long">
    delete from trial
    where trial_id=#{trialId}
  </delete>
  <select id="countTotal" parameterType="map" resultType="long">
    select count(*)
    from view_trial_detail
    <where>
      and enterprise_id=#{enterpriseId}
      <if test="trialId != null">
        and trial_id=#{trialId}
      </if>
      <if test="nameContaining != null">
        and name like '%' ${nameContaining} '%'
      </if>
      <if test="branchId != null">
        and branch_id=#{branchId}
      </if>
      <if test="branchNameContaining != null">
        and branch_name like '%' ${branchNameContaining} '%'
      </if>
      <if test="categoryId != null">
        and category_id=#{categoryId}
      </if>
      <if test="lecturerNameContaining != null">
        and lecturer_name like '%' ${lecturerNameContaining} '%'
      </if>
      <if test="status != null">
        and status=#{status}
      </if>
    </where>
  </select>
  <select id="list" parameterType="map" resultType="com.zzzz.vo.TrialDetail">
    select trial_id, name, img_url,
      category_id, category_name,
      enterprise_id, enterprise_name,
      branch_id, branch_name,
      lecturer_id, lecturer_name,
      release_time, status
    from view_trial_detail
    <where>
      and enterprise_id=#{enterpriseId}
      <if test="trialId != null">
        and trial_id=#{trialId}
      </if>
      <if test="nameContaining != null">
        and name like '%' ${nameContaining} '%'
      </if>
      <if test="branchId != null">
        and branch_id=#{branchId}
      </if>
      <if test="branchNameContaining != null">
        and branch_name like '%' ${branchNameContaining} '%'
      </if>
      <if test="categoryId != null">
        and category_id=#{categoryId}
      </if>
      <if test="lecturerNameContaining != null">
        and lecturer_name like '%' ${lecturerNameContaining} '%'
      </if>
      <if test="status != null">
        and status=#{status}
      </if>
    </where>
    <if test="usePagination">
      limit #{starting}, #{pageSize}
    </if>
  </select>
  <select id="listLatest" parameterType="map" resultType="com.zzzz.vo.TrialDetail">
    select trial_id, name, img_url,
    category_id, category_name,
    enterprise_id, enterprise_name,
    branch_id, branch_name,
    lecturer_id, lecturer_name,
    release_time, status
    from view_trial_detail
    where enterprise_id=#{enterpriseId}
      and status='AVAILABLE'
    order by release_time desc
    limit 0, #{n}
  </select>
</mapper>